@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    object-fit: cover;
  }

  textarea,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span {
    word-break: break-all;
    white-space: pre-wrap;
  }
}

@media screen and (min-width: 768px) {
  :not(html) ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  :not(html) ::-webkit-scrollbar-thumb {
    background: #bababa;
    border-radius: 20px;
  }
}
