.iconbtn {
  @apply cursor-pointer select-none outline outline-border active:scale-[0.97];
  @apply inline-flex gap-2 items-center justify-center text-center; 
}

.iconbtn-color--red {
  color: rgb(var(--red-9));
}

.iconbtn-disabled{
  @apply pointer-events-none;
  color:#9B9B9B;
  background-color:#D7D9D9;
}

.iconbtn-color--blue {
  color: rgb(var(--blue-9));
}

.iconbtn-color--green {
  color: rgb(var(--green-9));
}

.iconbtn-color--yellow {
  color: rgb(var(--yellow-9));
}

.iconbtn-color--pink {
  color: rgb(var(--pink-9));
}

.iconbtn-color--gray {
  color: rgb(var(--gray-9));
}

.iconbtn-color--slate {
  color: rgb(var(--slate-9));
}

.iconbtn-background--red {
  background-color: rgb(var(--red-9));
}

.iconbtn-background--blue {
  background-color: rgb(var(--blue-9));
}

.iconbtn-background--green {
  background-color: rgb(var(--green-9));
}

.iconbtn-background--yellow {
  background-color: rgb(var(--yellow-9));
}

.iconbtn-background--pink {
  background-color: rgb(var(--pink-9));
}

.iconbtn-background--gray {
  background-color: rgb(var(--gray-9));
}

.iconbtn-background--slate {
  background-color: rgb(var(--slate-9));
}

.iconbtn-outline {
  @apply outline-2;
}

/* 아이콘 버튼 크기 */
.iconbtn-xs {
  @apply h-[1.5rem] min-h-[1.5rem] px-2 text-xs;
}

.iconbtn-sm {
  @apply h-8 min-h-[2rem] px-3 text-sm;
}

.iconbtn-md {
  @apply h-12 min-h-[2.5rem] px-5 text-base;
}

.iconbtn-lg {
  @apply h-16 min-h-[3rem] px-6 text-lg;
}

.iconbtn-xl {
  @apply h-20 min-h-[4rem] px-6 text-xl;
}

